<!----- Navbar ------->
    {% block navbar %}
       {% include 'webdemo/authorized/partials/_navbar.html' %}
    {% endblock %}
<!----- End Navbar------>

<!--- Link css and javascript style --->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webdemo/css/calendar.css' %}">
    <script src="{% static 'webdemo/js/calendar.js' %}"></script>
<!---------------------->

<body>
  <div id='wrap' style="margin-top: 10px">

    <div id='calendar'></div>

    <div style='clear:both'></div>
  </div>
</body>