<!----- Navbar ------->
    {% block navbar %}
       {% include 'webdemo/authorized/partials/_navbar.html' %}
    {% endblock %}
<!----- End Navbar------>

<!--- Link css style --->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webdemo/css/todo.css' %}">
<!---------------------->

<!---- todo ---->
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Todo list</h4>
                        <div class="add-items d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button class="add btn btn-primary font-weight-bold todo-list-add-btn" style="background-color: #566ea0;">Add</button>
                        </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> For what reason would it be advisable.
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked=""> For what reason would it be advisable for me to think.
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> it be advisable for me to think about business content?
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Print Statements all
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked=""> Call Rampbo
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Print bills
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----- end of todo----->

<script>
   (function($) {
'use strict';
$(function() {
var todoListItem = $('.todo-list');
var todoListInput = $('.todo-list-input');
$('.todo-list-add-btn').on("click", function(event) {
event.preventDefault();

var item = $(this).prevAll('.todo-list-input').val();

if (item) {
todoListItem.append("<li>
    <div class='form-check'><label class='form-check-label'><input class='checkbox' type='checkbox' />" + item + "<i class='input-helper'></i></label></div><i class='remove mdi mdi-close-circle-outline'></i>
</li>");
todoListInput.val("");
}

});

todoListItem.on('change', '.checkbox', function() {
if ($(this).attr('checked')) {
$(this).removeAttr('checked');
} else {
$(this).attr('checked', 'checked');
}

$(this).closest("li").toggleClass('completed');

});

todoListItem.on('click', '.remove', function() {
$(this).parent().remove();
});

});
})(jQuery);

</script>