<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learning Python!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="css/styles.css">

  <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="gettingstarted.html">Start</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="material.html">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About me</a>
      </li>
    </ul>
  </div>
</nav>


<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome to LearningPython website!</h1>
    <h3>Let's dive in!</h3>
    <button type="button" class="btn btn-dark" style="width:150px; height: 50px">Start!</button>
  </div>
</div>


 <!-- Copyright -->
            <div class="text-center p-3" >
              © 2020 Copyright: LearningPython Group!
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->

</body>
</html>
