<!doctype html>
<html lang="en">
  <head>
      <title>Login</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--- Link css style --->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webdemo/css/login.css' %}">
  </head>
  <body>
  <div class="content">

    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <img src="{% static 'webdemo/img/login.svg' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">

            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign In</h3><br>
              </div>

           <form method="POST" action="" >
               {% csrf_token %}

               <div class="form">
                   <div class="col-md-4">
                        <h4> Username:</h4>
                   </div>
                   <div class="col-md-8" style="margin-bottom: 15px">
                        <input type="text" class="form-control" id="username">
                   </div>
               </div>

                <div class="form" style="margin-bottom: 15px">
                      <div class="col-md-4">
                           <h4> Password:</h4>
                      </div>
                      <div class="col-md-8" style="margin-bottom: 20px">
                           <input type="password" class="form-control" id="password">
                      </div>
                </div>

                <div class="form" style="margin: 15px">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
               <input type="submit" class="btn btn-primary" value="login">
               <span></span><a href="{% url 'register' %}">Don't have account?</a></span>
               </form>
               <div class="container" style="margin-left: -25px">
                 {% for message in messages %}
                  <p style="background-color: #fade56; color: black; height: 40px; width: 370px; margin-top; 20px; padding: 10px">
                      {{ message}}
                  </p>
                  {% endfor %}
               </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
  </body>
</html>