<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


</style>
<footer id="footer">
    <div class="footer-top">
      <div class="container">
         <h3 class="section-title">Stay in touch!</h3> <br><br>
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up">

            <h3>TrackHack</h3>
            <p>
              Raday utca 31B <br>
              Budapest, 1092<br>
              Hungary <br><br>
              <strong>Phone:</strong> +36 123456789<br>
              <strong>Email:</strong> trackhack@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="100">

          </div>

            <!-- Social Media-->
          <div class="col-lg-3 col-md-6 footer-links" >
            <h4>Our Social Networks</h4>
            <p>You can follow us in social media platform</p>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-snapchat-ghost"></a>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Appland</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>