{% load static %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Track remainder</h1>
            <h2> Track remainder application for managing your time, income, lifestyle and your daily habits.</h2>
             <button type="button" class="btn btn-secondary" style="background-color: #566ea0; width: 120px; height: 40px">Log in</button>
            <button type="button" class="btn btn-secondary" style="background-color: #566ea0; width: 120px; height: 40px">Sign up</button>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'webdemo/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>