{% load static %}

<main id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Hack Features</h2>
          <p>Being a productive person is a function of how well you manage your time between tasks. We all have 24 hours in a day and if you want to grow as a person, it will be important for you to manage those hours to make for maximal productivity. With all being said, getting productive is never particularly easy. However, the following goal track app will help you be able to achieve what you want.</p>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Create a time audit</h4>
                  <p>When it comes to time management, the first step you need to take is finding out where your time actually goes. You may believe that you only send 30 minutes on emails, but in reality that task is eating-up an hour of your day.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Change your schedule</h4>
                  <p>If you’re reading this article then it’s obviously because you want to discover some useful time management - and I’m more than happy to help you put. But, if you’re struggling with time management, the solution may be as simple as changing your schedule around.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Plan ahead</h4>
                  <p>One of the worst things that you can do is wake-up without a plan for the day. Instead of focusing on what needs to be done, you wander aimlessly and take care of more trivial matters.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Learn to delegate/outsource</h4>
                  <p>The thing is, delegating or outsourcing are real time-savers since it lessens your workload - which means you have more time to spend on more important tasks or doing less work.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-atom"></i>
                  <h4>Eliminate half-work</h4>
                  <p>“In our age of constant distraction, it's stupidly easy to split our attention between what we should be doing and what society bombards us with,” writes James Clear.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-id-card"></i>
                  <h4>Find inspiration</h4>
                  <p>It’s a simple way to reignite that fire to get me motivated and back-on-track.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'webdemo/img/details-4.png' %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->





    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
            <p><b>Time tracking</b> is key to understanding how <b>you</b> spend <b>your time</b>, personally and in business. It is key to productivity, insight, and a healthy workflow. When <b>you</b> know which tasks take the most of <b>your time</b>, <b>you</b> can begin to reflect on whether that <b>time</b> is well spent</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box" data-aos="fade-right">
            <h3>Free</h3>
            <h4>$0<span>per month</span></h4>
            <ul>
               <br><br>
                <li><i class="bx bx-check"></i> If you are a full time student!</li>

                <br><br>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box featured" data-aos="fade-up">
            <h3>Employed</h3>
            <h4>$8<span>per month</span></h4>
            <ul>
                <br><br>
                 <li><i class="bx bx-check"></i> If you are grown adult!</li>
                <br><br>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box" data-aos="fade-left">
            <h3>Elder</h3>
            <h4>$12<span>per month</span></h4>
            <ul>
                <br><br>
              <li><i class="bx bx-check"></i> If you are aged!</li>
              <br><br>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
 </main><!-- End #main -->
