<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <!----- Navbar ------->
    {% block navbar %}
       {% include 'webdemo/authorized/partials/_navbar.html' %}
    {% endblock %}
    <!----- End Navbar------>
<br>

<div id="homepage" class="container-fluid">
  <h3>Hello, {{ request.user }}</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>The navbar-expand-xl|lg|md|sm class determines when the navbar should stack vertically (on extra large, large, medium or small screens).</p>
</div>
<a href="{% url 'chat' %}"> chat</a>

</body>
</html>